<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link href="https://www.tanishq.co.in/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet"  href= "/css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

    <div id="div1">
        <ul id="ul1" class="one-sdv">
            <li><a class="ancr" href="#">BRANDS</a></li>
            <li><a class="ancr" href="#">CURRENCY SELECTOR</a></li>
            <li><a class="ancr" href="#">GOLD RATE</a></li>
        </ul>
        <ul id="ul2" class="one-sdv">
           
            <li><a class="ancr" href="#">ENCIRCLE</a></li>
            <li><a class="ancr" href="#">GOLDEN HARVEST</a></li>
            <li><a class="ancr" href="#">BOOK AN APPOINTMENT</a></li>
            <li><i class="ancr" class="far fa-heart"></i><a href="#" class="wishlis">WISHLIST</a></li>
            <li><i class="ancr" class="fas fa-shopping-cart"></i><a href="#" class="wishlis">CART(<span ><%=cart_items.length%></span>)</a></li>
        </ul>
    </div>
    <hr class="hr">
    <div id="div2">

        <a href="/index"><img id="logo" src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/cb53f671-01d0-449e-b18d-a4e61e6ffa0b/TanishqLogo.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-cb53f671-01d0-449e-b18d-a4e61e6ffa0b-mC036IT" alt=""></a>
 
         <ul id="topnav2" class="top"
             style="font-size: 13px;font-weight: bold;margin: 0px; padding: 0px;box-sizing: border-box;">
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">JEWELLERY</button>
                     <div class="dropdown-content">
                         <div class="header"></div>
                         <div class="row">
                             <div class="column">
                                 <h3>CATEGORY </h3>
                                 <a href="#">ALL JEWELLERY</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">PENDANTS</a>
                                 <a href="#">FINGER RINGS</a>
                                 <a href="#">MANGALSUTRA</a>
                                 <a href="#">CHAIN</a>
                                 <a href="#">NECKLACE</a>
                                 <a href="#">NOSE PIN</a>
                             </div>
 
                             <div class="column">
                                 <h3>GENDER</h3>
                                 <a href="#">MEN</a>
                                 <a href="#">WOMEN</a>
                                 <a href="#">KIDS</a>
                                 <a href="#">UNISEX</a>
                             </div>
                             <div class="column">
                                 <h3>PRICE BRAND</h3>
                                 <a href="#">5000</a>
                                 <a href="#">5K - 10K</a>
                                 <a href="#">10K - 20K</a>
                                 <a href="#">20K - 30K</a>
                                 <a href="#">30K - 40K</a>
                                 <a href="#">40K - 50K</a>
                                 <a href="#">50K</a>
                             </div>
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">GOLD</button>
                     <div class="dropdown-content">
                         <div class="header"></div>
                         <div class="row">
                             <div class="column">
                                 <h3>OTHER CATEGORIES</h3>
                                 <a href="#">CHAIN</a>
                                 <a href="#">MANGALSUTRA</a>
                                 <a href="#">NECKWEAR</a>
                                 <a href="#">NOSE PIN</a>
                                 <a href="#">NECKWEAR SET</a>
                                 <a href="#">BANGLE</a>
                                 <a href="#">BRACELET</a>
                                 <a href="#">PARTY</a>
                             </div>
                             <div class="column">
                                 <h3>GOLD COIN</h3>
                                 <a href="#">1 GRAMS</a>
                                 <a href="#">2 GRAMS</a>
                                 <a href="#">4 GRAMS</a>
                                 <a href="#">5 GRAMS</a>
                                 <a href="#">8 GRAMS</a>
                                 <a href="#">10 GRAMS</a>
                                 <a href="#">25 GRAMS</a>
                                 <a href="#">50 GRAMS</a>
                                 <a href="#">100 GRAMS</a>
                                 <a href="#">500 GRAMS</a>
                                 <a href="#">1000 GRAMS</a>
                             </div>
                             <div class="column">
                                 <h3>METAL COLOUR</h3>
                                 <a href="#">YELLOW</a>
                                 <a href="#">ROSE</a>
                                 <a href="#">WHITE</a>
                             </div>
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">DIAMOND
                     </button>
                     <div class="dropdown-content">
                         <div class="header">
 
                         </div>
                         <div class="row">
                             <div class="column">
                                 <h3>EARINGS</h3>
                                 <a href="#">STUD</a>
                                 <a href="#">HOOP</a>
                                 <a href="#">DROP</a>
                                 <a href="#">DROP</a>
                                 <a href="#">JHUMKA</a>
                             </div>
                             <div class="column">
                                 <h3>PENDANTS</h3>
                                 <a href="#">DAILY</a>
                                 <a href="#">PARTY</a>
                                 <a href="#">WORKWEAR</a>
                                 <a href="#">TRADITIONAL</a>
                             </div>
                             <div class="column">
                                 <h3>FINGER RING</h3>
                                 <a href="#">ENGAEMENT RINGS</a>
                                 <a href="#">SOLITARIES</a>
                                 <a href="#">CASUAL</a>
                             </div>
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">ENGAEMENT RINGS</button>
                     <div class="dropdown-content">
                         <div class="header">
 
                         </div>
                         <div class="row">
                             <div class="column">
                                 <h3>GOLD</h3>
                                 <a href="#">CHAIN</a>
                                 <a href="#">MANGALSUTRA</a>
                                 <a href="#">NECKWEAR</a>
                                 <a href="#">NOSE PIN</a>
                                 <a href="#">NECKWEAR SET</a>
                                 <a href="#">BANGLE</a>
                                 <a href="#">BRACELET</a>
                                 <a href="#">PARTY</a>
                             </div>
                             <div class="column">
                                 <h3>DIAMOND</h3>
                                 <a href="#">ALL JEWELLERY</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">PENDANTS</a>
                                 <a href="#">FINGER RINGS</a>
                                 <a href="#">MANGALSUTRA</a>
                                 <a href="#">CHAIN</a>
                                 <a href="#">NECKLACE</a>
                                 <a href="#">NOSE PIN</a>
                             </div>
                             <div class="column">
                                 <h3>PLATINUM</h3>
                                 <a href="#">NECKLACE</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">CHAINS</a>
                                 <a href="#">EARINGS</a>
                                 <a href="#">CHAINS</a>
                                 <a href="#">EARINGS</a>
                                 <a href="#">CHAINS</a>
 
                             </div>
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">DIGITAL GOLD</button>
                     <div class="dropdown-content">
                         <div class="header">
 
                         </div>
                         <div class="row">
                             <div class="column">
                                 <h3>22K GOLD</h3>
                                 <a href="#">DIAMOND CHAINS</a>
                                 <a href="#">GOLD CHAINS</a>
                                 <a href="#">GOLD SMALL CHAINS</a>
                                 <a href="#">GOLD ROUND STYLISH CHAINS</a>
                                 <a href="#">GOLD CATEGORIES CHAINS</a>
                                 <a href="#">SMALL SIZES GOLD RINGS</a>
                                 <a href="#">MEDIUM SIZES GOLD RINGS</a>
                                 <a href="#">LARGE SIZES GOLD RINGS</a>
                                 <a href="#"> EXTRA LARGE SIZES GOLD RINGS</a>
 
                             </div>
                             <div class="column">
                                 <h3>24K GOLD</h3>
                                 <a href="#">CROWNS</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">HAIRPINS</a>
                                 <a href="#">NECKLACE</a>
                                 <a href="#">TORC</a>
                                 <a href="#">BRACELET</a>
                                 <a href="#">ARMLET</a>
                                 <a href="#">CUFFS LINKS</a>
                             </div>
 
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">COLLECTIONS
                     </button>
                     <div class="dropdown-content">
                         <div class="header">
 
                         </div>
                         <div class="row">
                             <div class="column">
                                 <h3>MEN</h3>
                                 <a href="#">DIAMOND CHAINS</a>
                                 <a href="#">GOLD CHAINS</a>
                                 <a href="#">PLATINUM CHAINS</a>
                                 <a href="#">GOLD ROUND STYLISH CHAINS</a>
                                 <a href="#">SILVER CATEGORIES CHAINS</a>
                                 <a href="#">SMALL SIZES RINGS</a>
                                 <a href="#">MEDIUM SIZES RINGS</a>
                                 <a href="#">LARGE SIZES RINGS</a>
                                 <a href="#"> EXTRA LARGE SIZES RINGS</a>
                             </div>
                             <div class="column">
                                 <h3>WOMEN HEAD & NECK JEWELLERY</h3>
                                 <a href="#">CROWNS</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">HAIRPINS</a>
                                 <a href="#">NECKLACE</a>
                                 <a href="#">TORC</a>
                                 <a href="#">BRACELET</a>
                                 <a href="#">ARMLET</a>
                                 <a href="#">CUFFS LINKS</a>
                             </div>
                             <div class="column">
                                 <h3>WOMEN OTHER JEWELLERY</h3>
                                 <a href="#">RINGS</a>
                                 <a href="#">BELLY CHAIN</a>
                                 <a href="#">CHATELAINE</a>
                                 <a href="#">BROOCH</a>
                                 <a href="#">ANKLETS</a>
                                 <a href="#">TOE RINGS</a>
                             </div>
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">RIVAAH
                     </button>
                     <div class="dropdown-content">
                         <div class="header">
 
                         </div>
                         <div class="row">
                             <div class="column">
                                 <a href="#">DIAMOND CHAINS</a>
                                 <a href="#">GOLD CHAINS</a>
                                 <a href="#">PLATINUM CHAINS</a>
                                 <a href="#">GOLD ROUND STYLISH CHAINS</a>
                                 <a href="#">SILVER CATEGORIES CHAINS</a>
                                 <a href="#">SMALL SIZES RINGS</a>
                                 <a href="#">MEDIUM SIZES RINGS</a>
                                 <a href="#">LARGE SIZES RINGS</a>
                                 <a href="#"> EXTRA LARGE SIZES RINGS</a>
                             </div>
                             <div class="column">
                                 <a href="#">NECKLACE</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">CHAINS</a>
                                 <a href="#">EARRINGS</a>
                                 <a href="#">CHAINS</a>
                                 <a href="#">EARINGS</a>
                                 <a href="#">CHAINS</a>
 
                             </div>
                             <div class="column">
                                 <a href="#">ALL JEWELLERY</a>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">PENDANTS</a>
                                 <a href="#">FINGER RINGS</a>
                                 <a href="#">MANGALSUTRA</a>
                                 <a href="#">CHAIN</a>
                                 <a href="#">NECKLACE</a>
                                 <a href="#">NOSE PIN</a>
                             </div>
                         </div>
 
                     </div>
                 </div>
             </div>
 
 
             <div class="navbar">
 
                 <div class="dropdown">
                     <button class="dropbtn">MIA
                     </button>
                     <div class="dropdown-content">
                         <div class="header">
 
                         </div>
                         <div class="row">
                             <div class="column">
                                 <h3>CATEGORY</h3>
                                 <a href="/earrings">EARRINGS</a>
                                 <a href="#">PENDANTS</a>
                                 <a href="#">BRACELET</a>
                                 <a href="#">RINGS</a>
                                 <a href="#">NECKWEAR</a>
                             </div>
                             <div class="column">
                                 <h3>COLLECTIONS</h3>
                                 <h3>MIA X DISNEY - THE PRINCESS</h3>
                                 <a href="#">BIRTHSTONE</a>
                                 <a href="#">MIA FESTIVE</a>
                                 <a href="#">MIA GLAM</a>
                                 <a href="#">MIA WINGS</a>
                                 <a href="#">MIA ALLROUNDERS</a>
                                 <a href="#">FRIENDS OF BRIDE</a>
                             </div>
 
                         </div>
 
                     </div>
                 </div>
             </div>
 
             <li class="icn-1"><i class="fas fa-map-marker-alt"></i></li>
             <li class="icn-2"><i class="fas fa-search"></i></li>
         </ul>
 
     </div>
     <!-- ending for top two nav-bars -->
    <hr class="hr">

    <p><a id="home" href="/index">HOME</a>  > CART</p>
    <h1 id="num_of_products">CART ITEMS = <%=cart_items.length%></h1>
    <div id="biggerforflex">
    
        <div id="items_cartdiv">
           <%cart_items.forEach(function(item){%>
            <div>
                <img src="<%=item.image%>"/>
            </div>
            <div>
                <p id="name"><%=item.name%></p>
                <p id="price">₹<%=item.price%></p>
                <button onclick= "window.location.href='/cart/delete_item/<%=item.name%>'">Remove</button>
            </div>
            <% }) %>
        </div>
         
        <div id="pricedetails">
            <h1 id="summary">ORDER SUMMARY</h1>
            <div id="ordertotal">
                <p>ORDER TOTAL  <span id="for_total"><%=sum%></span></p>
            </div>
    
            <div id="shippingdiscount">
                <p>SHIPPING <span id="free1">FREE</span></p>
            </div>
           
            <div id="youpaydiv">
                <p id="youpay">YOU PAY <span id="for_total1"><%=sum%></span></p>
            </div>
            <p id="inclusive">INCLUSIVE OF ALL TAXES*</p>
            <div id="linkcheckout"><button id="checkoutbot" onclick="window.location.href ='/payment'">PROCEED TO CHECKOUT</button></div>
        </div>
     
    </div>
    </body>
    </html>
